<div class="container-fluid">
    <div class="row">
        <div class="page-header">
            <h1>
                <a href="#/projects/edit/{{ vm.selectedProject._id }}" class="project-link">{{ vm.selectedProject.number }} {{ vm.selectedProject.name }}</a>
                <a href="#/projects/configurations/{{ vm.selectedProject._id }}" style="padding:0"><img src="images/parameter_32.png" height="32" width="32" style="margin-top:0" ></a>
                <a href="#/projects/healthreport/{{ vm.selectedProject._id }}" style="padding:0"><img src="images/health_32.png" height="32" width="32" style="margin-top:0" ></a>
                <a href="#/projects/sheets/{{ vm.selectedProject._id }}" style="padding:0"><img src="images/sheets_32.png" height="32" width="32" style="margin-top:0"></a>
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="row row-offcanvas row-offcanvas-left">
            <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
                <div class="list-group">
                    <a ng-repeat="config in vm.configurations" href="" class="list-group-item" ng-click="vm.getConfigurationById(config._id)"
                       ng-class="{ 'active': selectedConfig._id === config._id }">{{ config.name }}</a>
                </div>
                <a class="btn btn-large btn-default btn-block" href="#/configurations/add/{{ vm.selectedProject._id }}"><span class="glyphicon glyphicon-plus"></span> Add Configuration</a>
            </div>
            <div class="col-xs-12 col-sm-9" ng-if="vm.configurations.length != 0">
                <!--NAME-->
                <div class="form-group row">
                    <label style="margin-top:7px;" class="form-control-label col-sm-3" for="configName">
                        Configuration Name:
                        <span class="glyphicon glyphicon-ok small" style="color: green;" ng-if="vm.selectedConfig.name"></span>
                        <span class="glyphicon glyphicon-asterisk small" style="color: red;" ng-if="!vm.selectedConfig.name"></span>
                    </label>
                    <div class="col-sm-9">
                        <input type="text" name="cName" class="form-control" id="configName" placeholder="Name" ng-model="vm.selectedConfig.name" required>
                        <div ng-show="form.$submitted || form.cName.$touched">
                            <div ng-show="form.cName.$error.required" class="text-danger">(*) Configuration Name is required.</div>
                        </div>
                    </div>
                </div>
                <!--FILES-->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Files</h3>
                    </div>
                    <div class="panel-body">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th class="col-md-10">
                                    Revit Files Added:
                                    <span class="glyphicon glyphicon-ok small" style="color: green;" ng-if="vm.selectedConfig.files.length"></span>
                                    <span class="glyphicon glyphicon-asterisk small" style="color: red;" ng-if="!vm.selectedConfig.files.length"></span>
                                </th>
                                <th class="col-md-2 text-right"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="file in vm.selectedConfig.files">
                                <td>{{ file.centralPath }}</td>
                                <td class="text-right">
                                    <button type="button" class="btn btn-default" ng-click="vm.editPath(file.centralPath, 'lg')">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </button>
                                    <button type="button" class="btn btn-danger" ng-click="vm.deleteFile(file.centralPath)">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <table class="table table-hover">
                            <thead></thead>
                            <tbody>
                            <tr>
                                <td class="col-md-2 text-right" style="padding-top: 15px">
                                    <b>Add Revit File:</b>
                                    <span class="glyphicon glyphicon-ok small" style="color: green;" ng-if="vm.selectedConfig.files.length"></span>
                                    <span class="glyphicon glyphicon-asterisk small" style="color: red;" ng-if="!vm.selectedConfig.files.length"></span>
                                </td>
                                <td class="col-md-8">
                                    <input type="text" class="form-control" id="formNewFile" placeholder="Enter a central file path for Revit project. (.rvt)" ng-model="vm.newFile">
                                    <p class="text-warning">{{ vm.fileWarningMsg }}</p>
                                </td>
                                <td class="col-md-2 text-right">
                                    <button type="button" class="btn btn-default" ng-click="vm.addFile()">
                                        <span class="glyphicon glyphicon-plus"></span>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!--TOOLS-->
                <div class="panel panel-default" ng-repeat="updater in vm.selectedConfig.updaters" style="margin-top:10px;">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ updater.updaterName }}</h3>
                    </div>
                    <div class="panel-body">
                        <p class="text-muted">{{ updater.description }}</p>
                        <form>
                            <fieldset class="form-group">
                                <label>Updater On/Off</label></br>
                                <label class="switch">
                                    <input type = "checkbox" ng-model="updater.isUpdaterOn">
                                    <div class="slider round"></div>
                                </label>
                            </fieldset>
                            <fieldset class="form-group" ng-show="updater.isUpdaterOn && updater.categoryTriggers.length > 0">
                                <label>Categories</label>
                                <ul ng-repeat="trigger in updater.categoryTriggers" class="list-unstyled">
                                    <li>
                                        <input type="checkbox" ng-model="trigger.isEnabled" ng-disabled="trigger.locked">{{trigger.categoryName}}
                                        <input type="text" class="form-control" placeholder="Enter a notification message." ng-model="trigger.description">
                                    </li>
                                </ul>
                            </fieldset>
                        </form>
                    </div>
                </div>
                <!--SHARED PARAMS TOOL-->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{vm.selectedConfig.sharedParamMonitor.monitorName}}</h3>
                    </div>
                    <div class="panel-body">
                        <p class="text-muted">{{vm.selectedConfig.sharedParamMonitor.description}}</p>
                        <form>
                            <fieldset class="form-group">
                                <label>Updater On/Off</label></br>
                                <label class="switch">
                                    <input type = "checkbox" ng-model="vm.selectedConfig.sharedParamMonitor.isMonitorOn">
                                    <div class="slider round"></div>
                                </label>
                            </fieldset>
                            <fieldset class="form-group" ng-show="vm.selectedConfig.sharedParamMonitor.isMonitorOn">
                                <label style="margin-top:7px;" class="control-label" for="formNewSheetFile">
                                    File Path:
                                    <span class="glyphicon glyphicon-ok small" style="color: green;" ng-if="vm.selectedConfig.sharedParamMonitor.filePath"></span>
                                    <span class="glyphicon glyphicon-asterisk small" style="color: red;" ng-if="!vm.selectedConfig.sharedParamMonitor.filePath"></span>
                                </label>
                                <input type="text" class="form-control" id="formNewSharedParamPath" placeholder="{{vm.PlaceholderSharedParameterLocation}}" ng-model="vm.selectedConfig.sharedParamMonitor.filePath">
                            </fieldset>
                        </form>
                    </div>
                </div>
                <!--EDITING RECORDS-->
                <div class="panel-group" id="p1">
                    <div class="panel panel-default">
                        <div class="panel-heading panel-heading-clickable" data-toggle="collapse" data-parent="#p1" data-target="#collapseP1">
                            <h4 class="panel-title">Editing Records</h4>
                        </div>
                        <div id="collapseP1" class="panel-collapse collapse in">
                            <div class ="panel-body" >
                                <table class="table table-hover table-sm">
                                    <thead>
                                    <th class="col-md-6">Central Path</th>
                                    <th class="col-md-2 text-center">Category</th>
                                    <th class="col-md-2 text-center">Edited</th>
                                    <th class="col-md-2 text-center">Edited By</th>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="record in vm.selectedRecords">
                                        <td>{{ record.centralPath | split: '\\' }}</td>
                                        <td class="text-center">{{ record.categoryName }}</td>
                                        <td class="text-center">{{ record.edited | date:"MM/dd/yy h:mm" }}</td>
                                        <td class="text-center">{{ record.editedBy }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!--DANGER ZONE PANEL-->
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <h3 class="panel-title">Danger Zone</h3>
                    </div>
                    <div class="panel-body">
                        <form>
                            <div class="form-group row">
                                <label class="control-label col-sm-8">Delete this configuration</label>
                                <div class="col-sm-4">
                                    <button type="submit" class="btn btn-danger pull-right" ng-click="vm.deleteConfiguration(vm.selectedConfig._id)">Delete</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <button type="submit" class="btn  btn-primary pull-right" ng-click="vm.updateConfiguration()"><span class="glyphicon glyphicon-ok"></span> Update</button>
            </div>
        </div>
    </div>

</div>



