<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title pull-left">Help</h5>
        <button type="button" class="close pull-right" ng-click="vm.cancel()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div id="menu">
            <div class="panel list-group">
                <a href="" class="list-group-item" data-toggle="collapse" data-target="#filtering" data-parent="#menu">
                    File Paths
                </a>
                <div id="filtering" class="sublinks collapse in">
                    <div class="list-group-item small">
                        <ul class="list-group list-group-flush" style="margin-top: 15px">
                            <li class="list-group-item" style="color: black">
                                <b>Local:</b> <span style="color: red;">\\DFS_NAME\OFFICE\PROJECTS\YEAR\PROJECT_NUMBER+NAME\FOLDER\SUBFOLDER\MODEL_NAME_CENTRAL.RVT</span><br>
                                <b>Local:</b> <span style="color: red;">C:\OFFICE\PROJECTS\YEAR\PROJECT_NUMBER+NAME\FOLDER\SUBFOLDER\MODEL_NAME_CENTRAL.RVT</span>
                                <p><br>Notes:
                                    <br> - some companies prefer to use DFS(Distributed File System) path over a specific letter drive designation. 
                                        Ex. <b>\\GROUP\</b> instead of <b>C:\</b>.
                                    <br> - whichever method you decide to use, please make sure that it is compliant with the <b>Local File Path Regex</b> settings.
                                        Each file path will have to pass/match at least one Regex pattern specified in Settings in order to be posted to MC.
                                    <img src="images/file-paths/local-file-settings.png" class="img-responsive center-block" style="margin-top: 10px;" alt="">
                                    <br> - You can define multiple different Regex patterns in settings that will be used to verify a file path. 
                                        Only one has to pass for the file to be designated as "valid"
                                    <br> - file path must have <b>.RVT</b> file extension
                                </p>
                            </li>
                            <li class="list-group-item" style="color: black">
                                <b>Revit Server:</b> <span style="color: red;">RSN://SERVER_NAME/PROJECT_NAME/DISCIPLINE/MODEL_NAME_CENTRAL.RVT</span>
                                <p><br>Notes:
                                    <br> - file path must start with <b>RSN://</b>
                                    <br> - file path must have .RVT file extension
                                </p>
                            </li>
                            <li class="list-group-item" style="color: black">
                                <b>Cloud Model:</b> <span style="color: red;">BIM 360://FOLDER/MODEL_NAME.RVT</span>
                                <p><br>Notes:
                                    <br> - file path must contain <b>://</b> and not start with RSN://
                                    <br> - file path must have .RVT file extension
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" ng-click="vm.cancel()">Close</button>
    </div>
</div>