p Hi!
p A new project has been shared with you via HOK VR app.
p Your sharable link is:!{' '}
    strong #{link}
p You can use that link to access new project content in HOK VR app.
p Custom message:!{' '}
    strong #{message}
