html {
  position: relative;
  min-height: 100%;
}
body { 
	padding-top:30px;
	margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}
body > .container {
  padding: 40px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

/*Turns on pointer cursor for collapsible panels*/
.panel-default > .panel-heading-clickable{
    cursor: pointer;
}
.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}
code {
  font-size: 80%;
}
#main-content-container{
	margin-bottom: 200px;
}
#map{
	height:500px;
}
.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
#pac-input {
  background-color: #fff;
  font-family: Roboto, serif;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}
#pac-input:focus {
  border-color: #4d90fe;
}
#map-container {
  margin:10px;
}

/*Directive content centering*/
.cn {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Used by table to highlight text values*/
p.thick {
  font-weight: bold;
}
p.normal {
  font-weight: normal;
}

/*Grid Divider line for Health Report Main Page*/
@media ( min-width: 768px ) {
  .grid-divider {
    position: relative;
    padding: 0;
  }
  .grid-divider>[class*='col-'] {
    position: static;
  }
  .grid-divider>[class*='col-']:nth-child(n+2):before {
    content: "";
    border-left: 1px solid #DDD;
    position: absolute;
    top: 0;
    bottom: 0;
  }
  .col-padding {
    padding: 0 15px;
  }
}

/*Top Padding between Divs*/
.bottom-buffer {
    margin-bottom:20px;
}

/*Left padded text*/
.p.pad-left {
    padding-left: 20px;
}

/*Removes column gutter*/
.no-padding-left {
  padding-left: 0
}

.no-padding-right {
  padding-right: 0
}

.no-padding-bottom {
  padding-bottom: 0
}

.no-padding {
  padding: 0;
}

.textAlignMiddle{
  vertical-align: middle;
  padding-right: 5px;
  padding-left: 5px;
}

/*Dropdown menu for Health Report - centered*/
.dropdown-menu-centered{
  width:100%;
  left: 50%;
  right: auto;
  padding-right: 20px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transform: translate(-50%, 0);
}

/*Scrollable menu for long lists*/
.scrollable-menu {
  height: auto;
  max-height: 195px;
  overflow-x: hidden;
}

table {
    table-layout: fixed;
    word-wrap: break-word;
    width: 100%;
}

/*hides overflowing text*/
.hide-overflow-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    max-width: 100%;
}

/*Modal dialog form constraint to allow vertical resize only.*/
textarea {
  resize: vertical;
}

.panel-header .radio .checkbox{
  display: inline-block;
}
.panel .glyphicon,.list-group-item .glyphicon {
  margin-right:5px;
}
.panel-body .radio, .checkbox {
  display:inline-block;
  margin-left:20px;
  margin-bottom: 0;
  margin-top: 0
}
.list-group-item:hover, a.list-group-item:focus {
  text-decoration: none;
  background-color: rgb(245, 245, 245);
}

[ng-click],
[data-ng-click],
[x-ng-click] {
  cursor: pointer;
}

.project-link {
  color: black;
}

/*Link decoration for the project page*/
.project-link:hover{
  color: #2A5DB0;
  text-decoration: none;
}

/*For Sheets table row. When deleted.*/
.strike {
  text-decoration: line-through;
}

.strike label{
  text-decoration: line-through;
}

/*For Add Sheet custom operator buttons*/
.nohover:hover{
  background-color: initial;
  cursor: default;
}

.popover {
  min-width: 200px;
}

/*Handles overflow in input fields.*/
input[type=text]{
  text-overflow: ellipsis;
}

/*Upload files, clickable*/
.dropzone {
  cursor: pointer;
  overflow: hidden;
  display: block;
  position: relative;
  width: 100%;
  height: 100px;
  background: whitesmoke;
  border-radius: 4px;
  font: caption;
  text-align: center;
  border: 1px dotted silver;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.dropzone p {
  padding-top: 16px;
  font-size: 16px;
}
.dropzone span {
  display: block;
  font-size: 10px;
}
.dropzone input[type='file']{
  opacity: 0;
  cursor: pointer;
  width: 100%;
  height: 100%;
  font-size: 0;
  position: absolute;
}

/*Area to drag images into*/
.dragzone {
  cursor: hand;
  overflow: hidden;
  display: block;
  position: relative;
  width: 100%;
  height: 100px;
  background: whitesmoke;
  border-radius: 4px;
  font: caption;
  text-align: center;
  border: 1px dotted silver;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.dragzone p {
  padding-top: 16px;
  font-size: 16px;
}
.dragzone span {
  display: block;
  font-size: 10px;
}
.dragzone input[type='file']{
  opacity: 0;
  cursor: hand;
  width: 100%;
  height: 100%;
  font-size: 0;
  position: absolute;
}

/*VR Image Stack*/
/*Hover overs*/
.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  background: #417bb9;
}
.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  padding: 40px 20px;
}
.hovereffect img {
  display: block;
  position: relative;
  max-width: none;
  width: calc(100% + 20px);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-10px,0,0);
  transform: translate3d(-10px,0,0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.hovereffect:hover img {
  opacity: 0.4;
  filter: alpha(opacity=40);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}
.hovereffect h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  overflow: hidden;
  padding: 0.5em 0;
  background-color: transparent;
}
.hovereffect h2:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  content: '';
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(-100%,0,0);
  transform: translate3d(-100%,0,0);
}
.hovereffect:hover h2:after {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}
.hovereffect a, .hovereffect p {
  color: #FFF;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(100%,0,0);
  transform: translate3d(100%,0,0);
}
.hovereffect:hover a, .hovereffect:hover p {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

/*Draggable symbol*/
.handle {
  cursor: move;
}

/*Draggable symbol background*/
.dark-background {
  background-color: #f5f6f6;
}

/*Fixed side menu when scrolling*/
.affix {
  top: 75px;
  z-index: 9999 !important;
  width: 14.2%;
}
.affix-top {

}
.affix-bottom {
  bottom: 20px;
}

.fade-element-in.ng-enter {
  transition: 0.8s linear all;
  opacity: 0;
}

.fade-element-in-init .fade-element-in.ng-enter {
  opacity: 1;
}

.fade-element-in.ng-enter.ng-enter-active {
  opacity: 1;
}

.fade-element-in.ng-leave {
  transition: 0.3s linear all;
  opacity: 1;
}
.fade-element-in.ng-leave.ng-leave-active {
  opacity: 0;
}

a {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

<<<<<<< HEAD
/*Hides contents.*/
.none{
  display: none;
}

/* When modal is displayed it's possible that some relative
positioned frames might be in front of it. This will pull it
to front while pushing background just behind it.*/
.zindex {
  z-index: 99000 !important;
}

.modal-backdrop {
  z-index: 98999 !important;
=======
.pointer {
  cursor: pointer;
>>>>>>> master
}

.animate-show-hide.ng-hide {
  opacity: 0;
}

.animate-show-hide.ng-hide-add,
.animate-show-hide.ng-hide-remove {
  transition: all linear 0.5s;
}
