<div class="container">
    <div class="row">
        <div class="page-header">
            <h1>Projects</h1>
        </div>
    </div>
    <div class="row" ng-if="vm.projects.length > 0">
        <table datatable="ng"
               dt-options="vm.dtOptions"
               dt-column-defs="vm.dtColumnDefs"
               class="table table-hover table-condensed datatable">
            <thead>
            <tr>
                <th class="col-md-2">Project Number</th>
                <th class="col-md-4">Project Name</th>
                <th class="col-md-2">QC Status</th>
                <th class="col-md-1 text-center">Office</th>
                <th class="col-md-3">Project Address</th>
            </tr>
            </thead>
            <tbody>


            <tr ng-repeat="x in vm.projects" ng-click="vm.go('/projects/edit/' + x._id)">
                <td>{{ x.number }}</td>
                <td>{{ x.name }}</td>
                <td ng-click="$event.stopPropagation(); vm.setCurrent(x._id)">

                    <div style="display: flex;">
                        <div style="flex: 2;">
                            {{(100 * (x.totalViews - x.viewsOnSheet) / x.totalViews)| number:0}}%
                        </div>
                        <button style="flex: 1;">
                            Audit
                        </button>
                    </div>
                    <div ng-if="vm.selectedProject_id === x._id">
                        <div ng-repeat="y in x.history">

                            <div style="display: flex;">
                                <div style="flex: auto;">

                                </div>
                                <div style="width: 50px;">
                                    {{ (100 * y.percent)}}%
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td class="text-center">{{ x.office }}</td>
                <td>{{ x.address.city }}, {{ x.address.state }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row" style="padding-top: 10px">
        <a class="btn btn-primary pull-right" href="#/projects/add" style="margin-bottom:10px;"><i class="fas fa-plus"></i> New Project</a>
    </div>
</div>

