<div class="page-header">
    <h1>Projects</h1>
</div>

<div class = "container">
	<a class="btn btn-primary pull-right" href="#/projects/add" style="margin-bottom:10px;"><span class="glyphicon glyphicon-plus"></span> New Project</a>

	<table class="table table-hover">
		<tr>
			<th>Project Number</th>
			<th>Project Name</th>
			<th>Office</th>
			<th>Project Address</th>
			<th></th>
		</tr>
		<tr ng-repeat="x in projects">
			<td><a href="#/projects/edit/{{x._id}}">{{x.number}}</a></td>
			<td>{{x.name}}</td>
			<td>{{x.office}}</td>
			<td>{{x.address.city}}, {{x.address.state}}</td>
			<td><a href="#/projects/configurations/{{x._id}}" style="padding:0px"><img src="view/images/parameter_32.png" height="32" width="32" style="margin-top:0px" ></a></td>
		</tr>
	</table>
	<br/>
</div>
