<div class="page-header">
    <h1>Projects</h1>
</div>

<div class = "container">
	<table class="table table-hover">
		<tr>
			<th>Project Number</th>
			<th>Project Name</th>
			<th>Office</th>
			<th></th>
		</tr>
		<tr ng-repeat="x in projects">
			<td><a href="#/projects/{{x._id}}">{{x.number}}</a></td>
			<td>{{x.name}}</td>
			<td>{{x.office}}</td>
			<td><button type="button" class="btn btn-secondary-outline" ng-click="deleteProject(x._id)">Remove</button></td>
		</tr>
	</table>
	<br/>
</div>

<div class="container">
  <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#projectPanel">Add New Project</button>
  <div id="projectPanel" class="collapse">
    <div class="panel panel-default" style="margin-top:10px">
		<div class="panel-heading">
			<h3 class="panel-title">New Project</h3>
		</div>
        <div class="panel-body">
             <form>
				<fieldset class="form-group">
					<label for="formProjectNumber">Project Number</label>
					<input type="text" class="form-control" id="formProjectNumber" placeholder="00.00000.00" ng-model="newProject.number">
				</fieldset>
				<fieldset class="form-group">
					<label for="formProjectName">Project Name</label>
					<input type="text" class="form-control" id="formProjectName" placeholder="Project Name" ng-model="newProject.name">
				</fieldset>
				<fieldset class="form-group">
					<label for="formOfficeSelect">Office</label>
					<select class="form-control" id="formOfficeSelect" ng-model="newProject.office">
						<option value="ATL">Atlanta</option>
						<option value="CHI">Chicago</option>
						<option value="HK">Hong Kong</option>
						<option value="HOU">Houston</option>
						<option value="LA">Los Angeles</option>
						<option value="LON">London</option>
						<option value="NY">New York</option>
						<option value="PHI">Philadelphia</option>
						<option value="SF">San Francisco</option>
						<option value="STL">St. Louis</option>
						<option value="WDC">Washington, D.C</option>
					</select>
				</fieldset>
				<button type="submit" class="btn btn-primary" ng-click="addProject()" data-toggle="collapse" data-target="#projectPanel">Create</button>
			</form>
        </div>
    </div>
  </div>
</div>
