<div class="container-fluid">
    <div class="row">
        <div class="page-header">
            <h1>Zombie Logs</h1>
        </div>
    </div>
    <div class="row">
        <div class="panel-group" id="p1">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title" style="padding-top: 5px;">Logs</h4>
                </div>
                <div class="panel-collapse">
                    <div class="panel-body">
                        <div class="row panel-body" style="padding-top: 0">
                            <div class="col-md-4 no-padding-left">
                                <div class="col-sm-2" style="padding: 0">
                                    <label for="fromInput" class="form-control-label" style="margin-top: 7px">From: </label>
                                </div>
                                <div class="col-sm-10 no-padding-left no-padding-right">
                                    <div class="input-group">
                                        <input type="text" class="form-control input-sm" id="fromInput"
                                               uib-datepicker-popup="{{vm.format}}"
                                               ng-model="vm.dtFrom"
                                               is-open="vm.popup1.opened"
                                               datepicker-options="vm.dateOptions"
                                               ng-required="true"
                                               close-text="Close"
                                               show-button-bar="false"/>
                                        <span class="input-group-btn">
                                                <button type="button" class="btn btn-default btn-sm" ng-click="vm.openDatePicker('from')">
                                                    <i class="fas fa-calendar"></i>
                                                </button>
                                            </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 no-padding-left">
                                <div class="col-sm-2" style="padding: 0">
                                    <label for="fromInput" class="form-control-label" style="margin-top: 7px">To: </label>
                                </div>
                                <div class="col-sm-10 no-padding-right no-padding-left">
                                    <div class="input-group">
                                        <input type="text" class="form-control input-sm"
                                               uib-datepicker-popup="{{vm.format}}"
                                               ng-model="vm.dtTo"
                                               is-open="vm.popup2.opened"
                                               datepicker-options="vm.dateOptions"
                                               ng-required="true"
                                               show-button-bar="false"
                                               close-text="Close"/>
                                        <span class="input-group-btn">
                                                <button type="button" class="btn btn-default btn-sm" ng-click="vm.openDatePicker('to')">
                                                    <i class="fas fa-calendar"></i>
                                                </button>
                                            </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="btn-group btn-group-sm pull-left" role="group" aria-hidden="true">
                                    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false" aria-haspopup="true" style="width: 160px">
                                        {{vm.selectedOffice.name}}
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu scrollable-menu">
                                        <li ng-repeat="office in vm.settings.offices">
                                            <a href="" ng-click="vm.SetOfficeFilter(office)">{{office.name}}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-2 no-padding-right">
                                <button class="btn btn-primary btn-sm pull-right" id="run" ng-click="vm.filterDate()">
                                    <i ng-show="vm.loading">
                                        <i class="fas fa-spinner fa-spin"></i>
                                    </i>
                                    Filter
                                </button>
                            </div>
                        </div>
                        <br>
                        <table id="zombieLogsTable"
                               datatable=""
                               dt-options="vm.dtOptions"
                               dt-columns="vm.dtColumns"
                               dt-instance="vm.dtInstance"
                               class="table table-hover table-condensed datatable">
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Office Filter: {{vm.selectedOffice.name}}</h4>
                </div>
                <div class="panel-collapse">
                    <div class="panel-body">
                        <d3-horizontal-bar-chart-timeout data="vm.donutData"
                                                         margin-left="60"
                                                         domain-padding="10"
                                                         d3-on-click="vm.OnClick(item)"
                                                         clickable="true"
                                                         fill-color="vm.MainChartColor">
                        </d3-horizontal-bar-chart-timeout>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Selected</h4>
                </div>
                <div class="panel-collapse">
                    <div class="panel-body">
                        <table id="machinesTable"
                               datatable=""
                               dt-options="vm.dtOptions1"
                               dt-columns="vm.dtColumns1"
                               dt-instance="vm.dtInstance1"
                               class="table table-hover table-condensed datatable">
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

