<div class="container">
	<div class="row">
		<div class="page-header">
			<h1 ng-if="vm.newProject.name || vm.newProject.number">
				{{ vm.newProject.number }} {{ vm.newProject.name }}
			</h1>
			<h1 ng-if="!vm.newProject.name && !vm.newProject.number">New Project</h1>
		</div>
	</div>
	<div class="row">
		 <form name="form" class="css-form" novalidate>
			<div class="panel panel-default" style="margin-top:10px;">
				<div class="panel-heading">
					<h3 class="panel-title">Project Info</h3>
				</div>
				<div class="panel-body">
					<form class ="form-horizontal">
						<fieldset class="form-group">
							<label class="control-label col-sm-3 text-right" style="margin-top: 8px;" for="formProjectNumber">
								Project Number
								<button class="fa-wrapper" ng-if="vm.newProject.number">
									<i class="fas fa-check fa-sm" style="color: green;"></i>
								</button>
								<button class="fa-wrapper" ng-if="!vm.newProject.number">
									<i class="fas fa-asterisk fa-sm" style="color: red;"></i>
								</button>
							</label>
							<div class="col-sm-9 no-padding-right">
								<input type="text"
									name="pNumber"
									class="form-control"
									id="formProjectNumber"
									placeholder="00.00000.00"
									ng-model="vm.newProject.number" required>
								<div ng-show="form.$submitted || form.pNumber.$touched">
									<div ng-show="form.pNumber.$error.required" class="text-danger">(*) Project Number is required.</div>
								</div>
							</div>
						</fieldset>
						<fieldset class="form-group">
							<label class="control-label col-sm-3 text-right" style="margin-top: 8px;" for="formProjectName">
								Project Name
								<button class="fa-wrapper" ng-if="vm.newProject.name">
									<i class="fas fa-check fa-sm" style="color: green;"></i>
								</button>
								<button class="fa-wrapper" ng-if="!vm.newProject.name">
									<i class="fas fa-asterisk fa-sm" style="color: red;"></i>
								</button>
							</label>
							<div class="col-sm-9 no-padding-right">
								<input type="text"
									name="pName"
									class="form-control"
									id="formProjectName"
									placeholder="Project Name"
									ng-model="vm.newProject.name" required>
								<div ng-show="form.$submitted || form.pName.$touched">
									<div ng-show="form.pName.$error.required" class="text-danger">(*) Project Name is required.</div>
								</div>
								<div ng-show="vm.newProject.name.length > 35">
									<div class="text-danger">(*) Project Name is too long.</div>
								</div>
							</div>
						</fieldset>
						<fieldset class="form-group">
							<label class="control-label col-sm-3 text-right" style="margin-top: 8px;" for="formOfficeSelect">
								Office
								<button class="fa-wrapper" ng-if="vm.newProject.office">
									<i class="fas fa-check fa-sm" style="color: green;"></i>
								</button>
								<button class="fa-wrapper" ng-if="!vm.newProject.office">
									<i class="fas fa-asterisk fa-sm" style="color: red;"></i>
								</button>
							</label>
							<div class="col-sm-9 no-padding-right">
								<div class="btn-group" style="width:100%;">
									<button class="btn btn-default dropdown-toggle scrollable-menu-left" data-toggle="dropdown">
										{{vm.newProject.office}}
										<span class="caret pull-right" style="margin-top: 8px; margin-bottom: 8px;"></span>
									</button>
									<ul class="dropdown-menu scrollable-menu-left">
										<li ng-repeat="office in vm.settings.offices" ng-if="office.name != 'All'">
											<a href="" ng-click="vm.setOffice(office)" class="no-padding-left no-padding-right">
												{{office.name}}
											</a>
										</li>
									</ul>
								</div>
							</div>
						</fieldset>
						<fieldset class="form-group">
							<label class="control-label col-sm-3 text-right" style="margin-top: 8px;" for="formStreet">Street Address</label>
							<div class="col-sm-9 no-padding-right">
								<input type="text"
                                       class="form-control"
                                       id="formStreet"
                                       placeholder="Street address, P.O. box, company name"
                                       ng-model="vm.newProject.address.street1">
							</div>
						</fieldset>
						<fieldset class="form-group">
							<label class="control-label col-sm-3 text-right" style="margin-top: 8px;" for="formStreet2">Street Address2</label>
							<div class="col-sm-9 no-padding-right">
								<input type="text"
                                       class="form-control"
                                       id="formStreet2"
                                       placeholder="Apartment, suite, unit, building, floor, etc."
                                       ng-model="vm.newProject.address.street2">
							</div>
						</fieldset>
						<fieldset class="form-group">
							<label class="control-label col-sm-3 text-right" style="margin-top: 8px;" for="formCity">City</label>
							<div class="col-sm-9 no-padding-right">
								<input type="text"
                                       class="form-control"
                                       id="formCity"
                                       ng-model="vm.newProject.address.city">
							</div>
						</fieldset>
						<fieldset class="form-group">
							<label class="control-label col-sm-3 text-right" 
								   style="margin-top: 8px;" 
								   for="stateSelect">
								State
							</label>
							<div class="col-sm-9 no-padding-right">
								<div class="btn-group" style="width:100%;">
									<button class="btn btn-default dropdown-toggle scrollable-menu-left" data-toggle="dropdown">
										{{vm.newProject.address.state}}
										<span class="caret pull-right" style="margin-top: 8px; margin-bottom: 8px;"></span>
									</button>
									<ul class="dropdown-menu scrollable-menu-left">
										<li ng-repeat="state in vm.settings.states">
											<a href="" ng-click="vm.setState(state)" class="no-padding-left no-padding-right">
												{{state}}
											</a>
										</li>
									</ul>
								</div>
							</div>
						</fieldset>
						<fieldset class="form-group">
							<label class="control-label col-sm-3 text-right" style="margin-top: 8px;" for="formZip">Zip Code</label>
							<div class="col-sm-9 no-padding-right">
								<input type="text" class="form-control" id="formZip" ng-model="vm.newProject.address.zipCode">
							</div>
						</fieldset>
						<fieldset class="form-group">
							<label class="control-label col-sm-3 text-right" style="margin-top: 8px;" for="formCountry">Country</label>
							<div class="col-sm-9 no-padding-right">
								<input type="text" class="form-control" id="formCountry" ng-model="vm.newProject.address.country">
							</div>
						</fieldset>
					</form>
					<button id="submitButton"
							type="submit"
							class="btn btn-primary pull-right"
							ng-click="vm.addProject()"
							style="margin:5px;"
							ng-disabled="vm.verifyForm()">
						<i class="fas fa-plus"></i>
						Add Project
					</button>
					<button class="btn btn-secondary pull-right"
							ng-click="vm.cancel()"
							style="margin:5px;">
						Cancel
					</button>
				</div>
			</div>
		</form>
	</div>
</div>
