<div class="container">
	<div class="row">
		<div class="page-header">
			<h1>
				{{ vm.selectedProject.number }} {{ vm.selectedProject.name }}
				<a href="#/projects/configurations/{{ vm.selectedProject._id }}" style="padding:0"><img src="images/parameter_32.png" height="32" width="32" style="margin-top:0" ></a>
				<a href="#/projects/healthreport/{{ vm.selectedProject._id }}" style="padding:0"><img src="images/health_32.png" height="32" width="32" style="margin-top:0" > </a>
			</h1>
		</div>
	</div>

	<div class="row">
		<form name="form" class="css-form">
			<!--NAME-->
			<div class="form-group row">
				<label style="margin-top:7px;" class="form-control-label col-sm-2" for="configName">
					Configuration Name:
					<span class="glyphicon glyphicon-ok small" style="color: green;" ng-if="vm.newConfig.name"></span>
					<span class="glyphicon glyphicon-asterisk small" style="color: red;" ng-if="!vm.newConfig.name"></span>
				</label>
				<div class="col-sm-10">
					<input type="text" name="cName" class="form-control" id="configName" placeholder="Name" ng-model="vm.newConfig.name" required>
				</div>
			</div>
			<!--FILES-->
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Files</h3>
				</div>
				<div class="panel-body">
					<table class="table table-hover">
						<thead>
						<tr>
							<th class="col-md-10">
								Revit Files Added:
								<span class="glyphicon glyphicon-ok small" style="color: green;" ng-if="vm.HasFiles"></span>
								<span class="glyphicon glyphicon-asterisk small" style="color: red;" ng-if="!vm.HasFiles"></span>
							</th>
							<th class="col-md-2"></th>
						</tr>
						</thead>
						<tbody>
						<tr ng-repeat="file in vm.newConfig.files">
							<td>{{ file.centralPath }}</td>
							<td class="text-right">
								<button type="button" class="btn btn-danger" ng-click="vm.deleteFile(file.centralPath)">
									<span class="glyphicon glyphicon-trash" style="margin-right: 0px"></span>
								</button>
							</td>
						</tr>
						</tbody>
					</table>
					<table class="table table-hover">
						<thead></thead>
						<tbody>
						<tr>
							<td class="col-md-2 text-right" style="padding-top: 15px">
								<b>Add Revit File:</b>
								<span class="glyphicon glyphicon-ok small" style="color: green;" ng-if="vm.HasFiles"></span>
								<span class="glyphicon glyphicon-asterisk small" style="color: red;" ng-if="!vm.HasFiles"></span>
							</td>
							<td class="col-md-8">
								<input type="text" class="form-control" id="formNewFile" placeholder="Enter a central file path for Revit project. (.rvt)" ng-model="vm.newFile">
								<p class="text-warning">{{ vm.fileWarningMsg }}</p>
							</td>
							<td class="col-md-2 text-right">
								<button type="button" class="btn btn-default" ng-click="vm.addFile()">
									<span class="glyphicon glyphicon-plus" style="margin-right: 0px"></span>
								</button>
							</td>
						</tr>
						</tbody>
					</table>
					<!--<form class ="form-horizontal">-->
						<!--<fieldset class="form-group">-->
							<!--<div class="col-sm-3 text-right">-->
								<!--<label style="margin-top:7px;" class="control-label" for="formNewFile">-->
									<!--Revit File:-->
									<!--<span class="glyphicon glyphicon-ok small" style="color: green;" ng-if="vm.HasFiles"></span>-->
									<!--<span class="glyphicon glyphicon-asterisk small" style="color: red;" ng-if="!vm.HasFiles"></span>-->
								<!--</label>-->
							<!--</div>-->
							<!--<div class="col-sm-8" >-->
								<!--<input type="text" name="fPath" class="form-control" id="formNewFile" placeholder="Enter a central path for Revit project. (.rvt)" ng-model="vm.newFile" required>-->
								<!--<p class="text-danger">{{ vm.fileWarningMsg }}</p>-->
							<!--</div>-->
							<!--<div class="col-sm-1" style="padding: 0">-->
								<!--<button type="button" class="btn btn-default" ng-click="vm.addFile()"><span class="glyphicon glyphicon-plus"></span></button>-->
							<!--</div>-->
						<!--</fieldset>-->
						<!--<fieldset class="form-group">-->
							<!--<div class="col-sm-3 text-right">-->
								<!--<label style="margin-top:7px;" class="control-label" for="formNewSheetFile">Sheet Database: </label>-->
							<!--</div>-->
							<!--<div class="col-sm-7">-->
								<!--<input type="text" class="form-control" id="formNewSheetFile" placeholder="Enter a file path for the SQLite sheet database. (.sqlite)" ng-model="vm.newConfig.sheetDatabase">-->
							<!--</div>-->
							<!--<div class="col-sm-2">-->

							<!--</div>-->
						<!--</fieldset>-->
					<!--</form>-->
				</div>
			</div>
			<div class="panel panel-default" ng-repeat="updater in vm.newConfig.updaters" style="margin-top:10px;">
				<div class="panel-heading">
					<h3 class="panel-title">{{ updater.updaterName }}</h3>
				</div>
				<div class="panel-body">
					<p class="text-muted">{{ updater.description }}</p>
					<form>
						<fieldset class="form-group">
							<label>Updater On/Off</label></br>
							<label class="switch">
								<input type = "checkbox" ng-model="updater.isUpdaterOn">
								<div class="slider round"></div>
							</label>
						</fieldset>
						<fieldset class="form-group" ng-show="updater.isUpdaterOn && updater.categoryTriggers.length > 0">
							<label>Categories</label>
							<ul ng-repeat="trigger in updater.categoryTriggers" class="list-unstyled">
								<li>
									<input type="checkbox" ng-model="trigger.isEnabled" ng-disabled="vm.trigger.locked">{{ trigger.categoryName }}
									<input type="text" class="form-control" placeholder="Enter a notification message." ng-model="trigger.description">
								</li>
							</ul>
						</fieldset>
					</form>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">{{vm.newConfig.sharedParamMonitor.monitorName}}</h3>
				</div>
				<div class="panel-body">
					<p class="text-muted">{{vm.newConfig.sharedParamMonitor.description}}</p>
					<form>
						<fieldset class="form-group">
							<label>Updater On/Off</label></br>
							<label class="switch">
								<input type = "checkbox" ng-model="vm.newConfig.sharedParamMonitor.isMonitorOn">
								<div class="slider round"></div>
							</label>
						</fieldset>
						<fieldset class="form-group" ng-show="vm.newConfig.sharedParamMonitor.isMonitorOn">
							<label style="margin-top:7px;" class="control-label" for="formNewSheetFile">
								File Path:
								<span class="glyphicon glyphicon-ok small" style="color: green;" ng-if="vm.newConfig.sharedParamMonitor.filePath"></span>
								<span class="glyphicon glyphicon-asterisk small" style="color: red;" ng-if="!vm.newConfig.sharedParamMonitor.filePath"></span>
							</label>
							<input type="text" class="form-control" id="formNewSharedParamPath" placeholder="Shared Parameter File Location. (.txt)" ng-model="vm.newConfig.sharedParamMonitor.filePath">
						</fieldset>
					</form>
				</div>
			</div>
			<label style="padding-left: 0px; margin-top:7px;" class="text-danger" for="configName">{{vm.status}}</label>
			<button type="submit" class="btn  btn-primary pull-right" ng-click="vm.addConfiguration()" style="margin:5px;"><span class="glyphicon glyphicon-plus"></span> Add Configuration</button>
			<a href="#/projects/configurations/{{ vm.projectId }}" class="btn btn-primary pull-right" role="button" style="margin:5px;">Cancel</a>
		</form>
	</div>
</div>