<!--PREFIX SUFFIX POPOVER-->
<script type="text/ng-template" id="prefixSuffix.html">
    <div class="btn-group" style="width: 100%;">
        <label for="prefix_suffix" class="form-control-label">Prefix/Suffix Value:</label>
        <input type="text" class="form-control" id="prefix_suffix" value="vm.currentOperator.value" ng-model="vm.currentOperator.value">
    </div>
    <hr style="margin-bottom: 5px;">
    <div class="btn-group">
        <button class="fa-button" ng-if="vm.showLeftArrow($index)" ng-click="vm.moveLeft($index)">
            <i class="fas fa-caret-left fa-lg text-primary"></i>
        </button>
        <button class="fa-button" ng-click="vm.deleteOperator($index)">
            <i class="fas fa-trash text-danger"></i>
        </button>
        <button class="fa-button" ng-click="vm.moveRight($index)" ng-if="vm.showRightArrow($index)">
            <i class="fas fa-caret-right fa-lg text-primary"></i>
        </button>
    </div>
</script>

<!--NUMBER SERIES POPOVER-->
<script type="text/ng-template" id="numberSeries.html">
    <div class="btn-group" style="width: 100%;">
        <label for="series_start" class="form-control-label">Start:</label>
        <input type="number" min="0" class="form-control" id="series_start" value="vm.currentOperator.start" ng-model="vm.currentOperator.start">
        <label for="series_step" class="form-control-label">Step:</label>
        <input type="number" min="1" class="form-control" id="series_step" value="vm.currentOperator.step" ng-model="vm.currentOperator.step">
    </div>
    <hr style="margin-bottom: 5px;">
    <div class="btn-group">
        <button class="fa-button" ng-click="vm.moveLeft($index)" ng-if="vm.showLeftArrow($index)">
            <i class="fas fa-caret-left fa-lg text-primary"></i>
        </button>
        <button class="fa-button" ng-click="vm.deleteOperator($index)">
            <i class="fas fa-trash text-danger"></i>
        </button>
        <button class="fa-button" ng-click="vm.moveRight($index)" ng-if="vm.showRightArrow($index)">
            <i class="fas fa-caret-right fa-lg text-primary"></i>
        </button>
    </div>
</script>

<!--LETTER SERIES POPOVER-->
<script type="text/ng-template" id="letterSeries.html">
    <div class="btn-group" style="width: 100%;">
        <label for="char_series_start" class="form-control-label">Start:</label>
        <input type="text" class="form-control" id="char_series_start" value="vm.currentOperator.start" ng-model="vm.currentOperator.start">
        <label for="char_series_step" class="form-control-label">Step:</label>
        <input type="number" min="1" class="form-control" id="char_series_step" value="vm.currentOperator.step" ng-model="vm.currentOperator.step">
    </div>
    <hr style="margin-bottom: 5px;">
    <div class="btn-group">
        <button class="fa-button" ng-click="vm.moveLeft($index)" ng-if="vm.showLeftArrow($index)">
            <i class="fas fa-caret-left fa-lg text-primary"></i>
        </button>
        <button class="fa-button" ng-click="vm.deleteOperator($index)">
            <i class="fas fa-trash text-danger"></i>
        </button>
        <button class="fa-button" ng-click="vm.moveRight($index)" ng-if="vm.showRightArrow($index)">
            <i class="fas fa-caret-right fa-lg text-primary"></i>
        </button>
    </div>
</script>

<!--ADD SHEET MODAL-->
<div class="modal-content">
    <div class="modal-header" id="header">
        <h5 class="modal-title pull-left">Add Sheet</h5>
        <button type="button" class="close pull-right" ng-click="vm.cancel()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="btn-group btn-group-xs pull-right" role="group" aria-hidden="true">
                    <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false" aria-haspopup="true">
                        {{vm.selectedModel.name | uppercase}}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right scrollable-menu" style="min-width: 100px;">
                        <li ng-repeat="file in vm.models">
                            <a href="" ng-click="vm.selectedModel = file">{{file.name | uppercase}}</a>
                        </li>
                    </ul>
                </div>
                <div class="btn-group btn-group-xs pull-right" role="group" aria-hidden="true">
                    <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false" aria-haspopup="true">
                        {{vm.selectedSheetType}}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right scrollable-menu" style="min-width: 100px;">
                        <li ng-repeat="type in vm.availableSheetTypes">
                            <a href="" ng-click="vm.setSheetTypeTemplate(type)">{{type}}</a>
                        </li>
                    </ul>
                </div>
                <h4 class="panel-title" style="padding-top: 5px;">Add Sheet</h4>
            </div>
            <div class="panel-body">
                <div class="form-group">

                    <!--COUNT-->
                    <div class="col-md-5">
                        <div class="form-group">
                            <label for="sheet_count" class="form-control-label">Sheet Count:</label>
                            <input type="number" min="1" class="form-control" id="sheet_count" value="vm.template.count" ng-model="vm.template.count">
                        </div>
                    </div>

                    <!--RECIPIENT-->
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="recipient_name" class="form-control-label">
                                Recipient:
                                <i ng-if="vm.template.assignedTo">
                                    <i class="fas fa-check fa-sm" style="color: green;"></i>
                                </i>
                                <i ng-if="!vm.template.assignedTo">
                                    <i class="fas fa-asterisk fa-sm" style="color: red;"></i>
                                </i>
                            </label>
                            <div class="btn-group" style="width: 100%;" id="recipient_name">
                                <button class="btn btn-default dropdown-toggle scrollable-menu-centered" data-toggle="dropdown">
                                    <span class="caret"></span>
                                    {{vm.template.assignedTo}}
                                </button>
                                <ul class="dropdown-menu scrollable-menu-centered">
                                    <li ng-repeat="user in vm.userNames">
                                        <a href="" class="no-padding-left" ng-click="vm.template.assignedTo = user">
                                            {{user}}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div ng-show="vm.userNames.length === 0">
                                <div class="text-danger">(*) This model doesn't have  active users.</div>
                            </div>
                        </div>
                    </div>

                    <!--PLACEHOLDER-->
                    <div class="col-md-3 no-padding-left no-padding-right no-padding-bottom" style="margin-bottom: 0;">
                        <div class="form-group no-padding-bottom" style="margin-bottom: 0;">
                            <label class="form-control-label">Placeholder:</label>
                            <button class="btn btn-default dropdown-toggle" style="width: 100%;" data-toggle="dropdown">
                                <span class="caret"></span>
                                {{vm.template.isPlaceholder ? 'Yes' : 'No'}}
                            </button>
                            <ul class="dropdown-menu dropdown-menu-centered">
                                <li><a href="" ng-click="vm.setPlaceholder(true)">Yes</a></li>
                                <li><a href="" ng-click="vm.setPlaceholder(false)">No</a></li>
                            </ul>
                        </div>
                    </div>

                    <!--MESSAGE-->
                    <div class="col-md-12 no-padding-right">
                        <div class="form-group">
                            <label for="message_text" class="form-control-label">
                                Message:
                                <i ng-if="vm.template.message">
                                    <i class="fas fa-check fa-sm" style="color: green;"></i>
                                </i>
                                <i ng-if="!vm.template.message">
                                    <i class="fas fa-asterisk fa-sm" style="color: red;"></i>
                                </i>
                            </label>
                            <textarea id="message_text" class="form-control" ng-model="vm.template.message" required></textarea>
                        </div>
                    </div>

                    <!--NUMBER-->
                    <div class="col-md-9">
                        <div class="form-group">
                            <label class="form-control-label">Sheet Number:</label>
                            <div>
                                <button ng-repeat="operator in vm.currentNumberOperators"
                                        ng-click="vm.setCurrentOperator(operator)"
                                        class="btn btn-default">
                                    <span ng-click=""
                                          uib-popover-template="operator.templateUrl"
                                          popover-placement="{{vm.popoverOptions.placement}}"
                                          popover-trigger="vm.popoverOptions.triggers"
                                          popover-class="popover">
                                        {{vm.getButtonLabel(operator)}}
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 no-padding-left no-padding-right no-padding-bottom" style="margin-bottom: 0;">
                        <div class="form-group no-padding-bottom" style="margin-bottom: 0;">
                            <label class="form-control-label">Components:</label>
                            <button class="btn btn-default dropdown-toggle" style="width: 100%;" data-toggle="dropdown">
                                <span class="caret"></span>
                                Type
                            </button>
                            <ul class="dropdown-menu dropdown-menu-centered">
                                <li ng-repeat="type in vm.operators">
                                    <a href="" ng-click="vm.addOperator(type, 'number')">{{type}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <!--NAME-->
                    <div class="col-md-9">
                        <div class="form-group">
                            <label class="form-control-label">Sheet Name:</label>
                            <div>
                                <button ng-repeat="operator in vm.currentNameOperators"
                                        ng-click="vm.setCurrentOperator(operator)"
                                        class="btn btn-default">
                                    <span ng-click=""
                                          uib-popover-template="operator.templateUrl"
                                          popover-placement="{{vm.popoverOptions.placement}}"
                                          popover-trigger="vm.popoverOptions.triggers">
                                        {{vm.getButtonLabel(operator)}}
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 no-padding-left no-padding-right no-padding-bottom" style="margin-bottom: 0;">
                        <div class="form-group no-padding-bottom" style="margin-bottom: 0;">
                            <label class="form-control-label">Components:</label>
                            <button class="btn btn-default dropdown-toggle" style="width: 100%;" data-toggle="dropdown">
                                <span class="caret"></span>
                                Type
                            </button>
                            <ul class="dropdown-menu dropdown-menu-centered" style="margin-top: 0;">
                                <li ng-repeat="type in vm.operators">
                                    <a href="" ng-click="vm.addOperator(type, 'name')">{{type}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button"
                class="btn btn-primary"
                ng-disabled="!vm.template.assignedTo || !vm.template.message"
                ng-click="vm.create()">
            <i class="fas fa-plus"></i>
            Create
        </button>
        <button type="button"
                class="btn btn-secondary"
                ng-click="vm.cancel()">
            Close
        </button>
        <button type="button"
                class="btn btn-danger pull-left"
                ng-click="vm.clear()">
            <i class="fas fa-eraser"></i>
            Clear
        </button>
    </div>
</div>