<div class="container">
	<div class="row">
		<div class="page-header">
			<h1>
				{{ vm.selectedProject.number }} {{ vm.selectedProject.name }}
				<a href="#/projects/configurations/{{ vm.selectedProject._id }}" style="padding:0"><img src="images/parameter_32.png" height="32" width="32" style="margin-top:0"></a>
				<a href="#/projects/healthreport/{{ vm.selectedProject._id }}" style="padding:0"><img src="images/health_32.png" height="32" width="32" style="margin-top:0"></a>
				<a href="#/projects/sheets/{{ vm.selectedProject._id }}" style="padding:0"><img src="images/sheets_32.png" height="32" width="32" style="margin-top:0"></a>
			</h1>
		</div>
	</div>
	<div class="row">
		<form name="form" class="css-form" novalidate>
			<div class="panel panel-default" style="margin-top:10px">
				<div class="panel-heading">
					<h3 class="panel-title">Project Info</h3>
				</div>
				<div class="panel-body">
					<fieldset class="form-group">
						<label for="formProjectNumber">
							Project Number
							<span class="glyphicon glyphicon-ok small" style="color: green;" ng-if="vm.selectedProject.number"></span>
							<span class="glyphicon glyphicon-asterisk small" style="color: red;" ng-if="!vm.selectedProject.number"></span>
						</label>
						<input type="text" name="pNumber" class="form-control" id="formProjectNumber" placeholder="00.00000.00" ng-model="vm.selectedProject.number" required>
						<div ng-show="form.$submitted || form.pNumber.$touched">
							<div ng-show="form.pNumber.$error.required" class="text-danger">(*) Project Number is required.</div>
						</div>
					</fieldset>
					<fieldset class="form-group">
						<label for="formProjectName">
							Project Name
							<span class="glyphicon glyphicon-ok small" style="color: green;" ng-if="vm.selectedProject.name"></span>
							<span class="glyphicon glyphicon-asterisk small" style="color: red;" ng-if="!vm.selectedProject.name"></span>
						</label>
						<input type="text" name="pName" class="form-control" id="formProjectName" placeholder="Project Name" ng-model="vm.selectedProject.name" required>
						<div ng-show="form.$submitted || form.pName.$touched">
							<div ng-show="form.pName.$error.required" class="text-danger">(*) Project Name is required.</div>
						</div>
						<div ng-show="vm.selectedProject.name.length > 35">
							<div class="text-danger">(*) Project Name is too long.</div>
						</div>
					</fieldset>
					<fieldset class="form-group">
						<label for="formOfficeSelect">
							Office
							<span class="glyphicon glyphicon-ok small" style="color: green;" ng-if="vm.selectedProject.office"></span>
							<span class="glyphicon glyphicon-asterisk small" style="color: red;" ng-if="!vm.selectedProject.office"></span>
						</label>
						<select class="form-control" id="formOfficeSelect" ng-model="vm.selectedProject.office">
							<option value="ATL">Atlanta</option>
							<option value="CHI">Chicago</option>
							<option value="HK">Hong Kong</option>
							<option value="HOU">Houston</option>
							<option value="KC">Kansas City</option>
							<option value="LA">Los Angeles</option>
							<option value="LON">London</option>
							<option value="NY">New York</option>
							<option value="PHI">Philadelphia</option>
							<option value="SF">San Francisco</option>
							<option value="STL">St. Louis</option>
							<option value="WDC">Washington, D.C</option>
						</select>
					</fieldset>
					<fieldset class="form-group">
						<div google-drawing-map address="vm.selectedProject.address" geo-location="vm.selectedProject.geoLocation" geo-polygon="vm.selectedProject.geoPolygon" initialized="vm.initialized"/>
					</fieldset>
					<form class ="form-horizontal">
						<fieldset class="form-group">
							<label class="control-label col-sm-3 text-right" for="formStreet">Street Address</label>
							<div class="col-sm-9 no-padding-right">
								<input type="text" class="form-control" id="formStreet" placeholder="Street address, P.O. box, company name" ng-model="vm.selectedProject.address.street1">
							</div>
						</fieldset>
						<fieldset class="form-group">
							<label class="control-label col-sm-3 text-right" for="formStreet2">Street Address2</label>
							<div class="col-sm-9 no-padding-right">
								<input type="text" class="form-control" id="formStreet2" placeholder="Apartment, suite, unit, building, floor, etc." ng-model="vm.selectedProject.address.street2">
							</div>
						</fieldset>
						<fieldset class="form-group">
							<label class="control-label col-sm-3 text-right" for="formCity">City</label>
							<div class="col-sm-9 no-padding-right">
								<input type="text" class="form-control" id="formCity" ng-model="vm.selectedProject.address.city">
							</div>
						</fieldset>
						<fieldset class="form-group">
							<label class="control-label col-sm-3 text-right" for="formState">State</label>
							<div class="col-sm-9 no-padding-right">
								<select class="form-control" id="formState" ng-model="vm.selectedProject.address.state">
									<option value="AL">Alabama</option>
									<option value="AK">Alaska</option>
									<option value="AZ">Arizona</option>
									<option value="AR">Arkansas</option>
									<option value="CA">California</option>
									<option value="CO">Colorado</option>
									<option value="CT">Connecticut</option>
									<option value="DE">Delaware</option>
									<option value="DC">District Of Columbia</option>
									<option value="FL">Florida</option>
									<option value="GA">Georgia</option>
									<option value="HI">Hawaii</option>
									<option value="ID">Idaho</option>
									<option value="IL">Illinois</option>
									<option value="IN">Indiana</option>
									<option value="IA">Iowa</option>
									<option value="KS">Kansas</option>
									<option value="KY">Kentucky</option>
									<option value="LA">Louisiana</option>
									<option value="ME">Maine</option>
									<option value="MD">Maryland</option>
									<option value="MA">Massachusetts</option>
									<option value="MI">Michigan</option>
									<option value="MN">Minnesota</option>
									<option value="MS">Mississippi</option>
									<option value="MO">Missouri</option>
									<option value="MT">Montana</option>
									<option value="NE">Nebraska</option>
									<option value="NV">Nevada</option>
									<option value="NH">New Hampshire</option>
									<option value="NJ">New Jersey</option>
									<option value="NM">New Mexico</option>
									<option value="NY">New York</option>
									<option value="NC">North Carolina</option>
									<option value="ND">North Dakota</option>
									<option value="OH">Ohio</option>
									<option value="OK">Oklahoma</option>
									<option value="OR">Oregon</option>
									<option value="PA">Pennsylvania</option>
									<option value="RI">Rhode Island</option>
									<option value="SC">South Carolina</option>
									<option value="SD">South Dakota</option>
									<option value="TN">Tennessee</option>
									<option value="TX">Texas</option>
									<option value="UT">Utah</option>
									<option value="VT">Vermont</option>
									<option value="VA">Virginia</option>
									<option value="WA">Washington</option>
									<option value="WV">West Virginia</option>
									<option value="WI">Wisconsin</option>
									<option value="WY">Wyoming</option>
								</select>
							</div>
						</fieldset>
						<fieldset class="form-group">
							<label class="control-label col-sm-3 text-right" for="formZip">Zip Code</label>
							<div class="col-sm-9 no-padding-right">
								<input type="text" class="form-control" id="formZip" ng-model="vm.selectedProject.address.zipCode">
							</div>
						</fieldset>
						<fieldset class="form-group">
							<label class="control-label col-sm-3 text-right" for="formContury">Contury</label>
							<div class="col-sm-9 no-padding-right">
								<input type="text" class="form-control" id="formContury" ng-model="vm.selectedProject.address.country">
							</div>
						</fieldset>
						<fieldset class="form-group">
							<label class="control-label col-sm-3 text-right" for="formLatitude">Latitude</label>
							<div class="col-sm-3 no-padding-right">
								<input type="text" class="form-control" id="formLatitude" ng-model="vm.selectedProject.geoLocation.coordinates[1]" disabled>
							</div>
							<label class="control-label col-sm-3 text-right" for="formLongitude">Longitude</label>
							<div class="col-sm-3 no-padding-right">
								<input type="text" class="form-control" id="formLongitude" ng-model="vm.selectedProject.geoLocation.coordinates[0]" disabled>
							</div>
						</fieldset>
					</form>
				</div>
			</div>
			<div class="panel panel-danger">
				<div class="panel-heading">
					<h3 class="panel-title">Danger Zone</h3>
				</div>
				<div class="panel-body">
					<form>
						<div class="form-group row">
							<label class="col-sm-8">This button will delete this PROJECT and all related CONFIGURATIONS.</label>
							<div class="col-sm-4">
								<button type="submit" class="btn btn-danger pull-right" ng-click="vm.deleteProject()">
									<span class="glyphicon glyphicon-trash"></span>
									Delete
								</button>
							</div>
						</div>
					</form>
				</div>
			</div>
			<label style="padding-left: 0; margin-top:7px;" class="text-danger">{{vm.status}}</label>
			<button type="submit" class="btn btn-primary pull-right" ng-click="vm.updateProject()" style="margin:5px;" ng-disabled="vm.verifyForm()">
				<span class="glyphicon glyphicon-ok"></span>
				Update Project
			</button>
			<button class="btn btn-secondary pull-right" ng-click="vm.cancel()" style="margin:5px;">Cancel</button>
		</form>
	</div>
</div>
