<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title pull-left">Edit Image</h5>
        <button type="button" class="close pull-right" ng-click="vm.cancel()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <label class="form-control-label">Display Name:</label>
                <input type="text" class="form-control" value="vm.image.description" ng-model="vm.image.description">
            </div>
            <div class="form-group">
                <label for="description-text" class="form-control-label">
                    Description:
                </label>
                <textarea class="form-control" id="description-text" ng-model="vm.image.description"></textarea>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" ng-click="vm.cancel()">Close</button>
        <button type="button" class="btn btn-primary" ng-click="vm.submit()">Submit</button>
    </div>
</div>