<style>
    html {
        overflow-y:scroll;
    }
</style>

<div class="container">
    <!--Navigation Buttons-->
    <div class="row">
        <div class="page-header">
            <h1>
                <a href="#/projects/edit/{{ vm.selectedProject._id }}" class="project-link">
                    {{ vm.selectedProject.number }} {{ vm.selectedProject.name }}
                </a>
                <a href="#/projects/configurations/{{ vm.selectedProject._id }}" style="padding:0"><img src="images/parameter_32.png" height="32" width="32" style="margin-top:0"></a>
                <a href="#/projects/healthreport/{{ vm.selectedProject._id }}" style="padding:0"><img src="images/health_32.png" height="32" width="32" style="margin-top:0"></a>
                <a href="#/projects/sheets/{{ vm.selectedProject._id }}" style="padding:0"><img src="images/sheets_32.png" height="32" width="32" style="margin-top:0"></a>
                <a href="#/projects/vr/{{ vm.selectedProject._id }}" style="padding:0"><img src="images/vr_32.png" height="32" width="32" style="margin-top:0"></a>
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="row row-offcanvas row-offcanvas-left">
            <!--Left side images-->
            <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
                <div bs-affix data-offset-top="200" data-offset-bottom="100">
                    <div class="body-collapse">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title" style="padding-top: 5px;">Upload Images:</h4>
                            </div>
                            <div class="panel-collapse">
                                <!--Dropzone-->
                                <div class="panel-body">
                                    <div drop-zone ng-model="vm.images" class="dropzone">
                                        <p>Drop files here
                                            <span>(or click to upload)</span>
                                        </p>
                                    </div>
                                </div>
                                <!--Add Buckets-->
                                <div class="panel-body" style="padding-top: 0px">
                                    <button class="btn btn-primary"
                                            style="width: 100%"
                                            ng-click="vm.addBucket()">
                                        Add Bucket
                                        <span class="glyphicon glyphicon-chevron-right"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Uploaded images-->
                    <div class="body-collapse">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title" style="padding-top: 5px;">Images:</h4>
                            </div>
                            <div class="panel-collapse"
                                 id="#images"
                                 dragula='"image_bag"'
                                 dragula-model="vm.images"
                                 style="max-height: 500px; overflow-y: scroll">
                                <div class="panel-body"
                                     ng-repeat="file in vm.images"
                                     ng-if="file.type.indexOf('image') !== -1">
                                    <div>
                                        <div class="dark-background text-center">
                                            <span class='handle glyphicon glyphicon-move'></span>
                                        </div>
                                        <div class="hovereffect">
                                            <img src="{{file.data}}" class="img-responsive center-block" alt="">
                                            <div class="overlay">
                                                <p>
                                                    <span class="glyphicon glyphicon-pencil"
                                                          ng-click="vm.editImage('lg', file)"
                                                          style="font-size:1.5em; color: #FFFFFF;">
                                                    </span>
                                                </p>
                                                <p>
                                                    <span class="glyphicon glyphicon-trash"
                                                          ng-click="vm.deleteFromImages(file)"
                                                          style="font-size:1.5em; color: #FFFFFF;">
                                                    </span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Right side-->
            <div class="col-xs-6 col-sm-9">
                <div class="panel panel-default container-fluid" ng-repeat="bucket in vm.buckets">
                    <div class="panel-heading row">
                        <div class="col-xs-8 no-padding-left">
                            <div class="input-group" ng-if="bucket.editingBucket">
                                <input type="text" class="form-control input-sm" value="bucket.name" ng-model="bucket.name" ng-keypress="($event.which === 13) ? bucket.editingBucket = false : 0">
                                <span class="input-group-btn">
                                    <button class="btn btn-default btn-sm" type="button">
                                        <span class="glyphicon glyphicon-ok" ng-click="bucket.editingBucket = false"></span>
                                    </button>
                                </span>
                            </div>
                            <h4 class="panel-title" style="padding-top: 5px;" ng-click="bucket.editingBucket = true" ng-if="!bucket.editingBucket">{{bucket.name}}</h4>
                        </div>
                        <div class="col-xs-4 no-padding-right">
                            <div class="btn-group btn-group-xs pull-right" role="group" aria-hidden="true">
                                <button type="button" class="btn btn-primary" ng-click="vm.moveUp($index)" ng-if="vm.showUpArrow($index)">
                                    <span class="glyphicon glyphicon-chevron-up" style="margin-right: 0px"></span>
                                </button>
                                <button type="button" class="btn btn-primary" ng-click="vm.moveDown($index)" ng-if="vm.showDownArrow($index)">
                                    <span class="glyphicon glyphicon-chevron-down" style="margin-right: 0px"></span>
                                </button>
                                <button type="button" class="btn btn-primary" ng-click="vm.deleteBucket(bucket)">
                                    <span class="glyphicon glyphicon-trash" style="margin-right: 0px"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body row" style="max-height: 350px; overflow-y: scroll; min-height: 98px">
                        <div ng-class="bucket.images.length === 0 ? 'dropzone' : ''"
                             id="#bucket"
                             dragula='"image_bag"'
                             dragula-model="bucket.images"
                             style="min-height: 98px; padding-bottom: 15px">
                            <p ng-show="bucket.images.length === 0">Drag files here
                                <span>(from Images on the left)</span>
                            </p>
                            <div class="panel-body row"
                                 ng-repeat="file in bucket.images"
                                 id="{{file._id}}">
                                <div class="col-md-4 no-padding-left">
                                    <div class="panel-collapse">
                                        <div>
                                            <div>
                                                <div class="dark-background text-center">
                                                    <span class='handle glyphicon glyphicon-move'></span>
                                                </div>
                                                <div class="hovereffect">
                                                    <img src="{{file.data}}" class="img-responsive center-block" alt="">
                                                    <div class="overlay">
                                                        <p>
                                                            <span class="glyphicon glyphicon-trash"
                                                                  ng-click="vm.deleteFromBucket(file, bucket)"
                                                                  style="font-size:1.5em; color: #FFFFFF;">
                                                            </span>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-8">
                                    <h2 style="margin: 0px">{{file.displayName}}</h2>
                                    <hr style="margin: 5px">
                                    <h4>{{file.description}}</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body row">
                        <div class="panel-collapse">
                            <!-- Sharable id -->
                            <div class="col-md-6 no-padding-left">
                                <label for="sharableLink" class="form-control-label">Sharable Id:</label>
                                <div class="input-group">
                                    <input type="text" class="form-control input-sm" id="sharableLink" value="bucket._id" ng-model="bucket._id" disabled>
                                    <span class="input-group-btn">
                                        <button class="btn btn-default btn-sm" type="button">
                                            <span class="awesome-clone"></span>
                                        </button>
                                    </span>
                                </div>
                            </div>
                            <!-- Recipients -->
                            <div class="col-md-6 no-padding-right">
                                <label for="sharedWith" class="form-control-label">Recipients:</label>
                                <div class="input-group">
                                    <input type="text" class="form-control input-sm" id="sharedWith" value="bucket.sharedWith" ng-model="bucket.sharedWith">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default btn-sm" type="button">
                                            <span class="awesome-envelope-o"></span>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>