<style>
    html {
        overflow-y:scroll;
    }
</style>

<div class="container fade-element-in" ng-if="vm.status.message">
    <div class="row">
        <div class="alert alert-success" style="margin: 0;" ng-if="vm.status.code === 'success'">
            <a href="" class="close" aria-label="close" ng-click="vm.status = null">&times;</a>
            <strong>Success!</strong> {{vm.status.message}}
        </div>
        <div class="alert alert-info" style="margin: 0;" ng-if="vm.status.code === 'info'">
            <a href="" class="close" aria-label="close" ng-click="vm.status = null">&times;</a>
            <strong>Info!</strong> {{vm.status.message}}
        </div>
        <div class="alert alert-warning" style="margin: 0;" ng-if="vm.status.code === 'warning'">
            <a href="" class="close" aria-label="close" ng-click="vm.status = null">&times;</a>
            <strong>Warning!</strong> {{vm.status.message}}
        </div>
        <div class="alert alert-danger" style="margin: 0;" ng-if="vm.status.code === 'danger'">
            <a href="" class="close" aria-label="close" ng-click="vm.status = null">&times;</a>
            <strong>Danger!</strong> {{vm.status.message}}
        </div>
    </div>
</div>

<div class="container">
    <!--Navigation Buttons-->
    <div class="row">
        <div class="page-header">
            <h1>
                <a href="#/projects/edit/{{ vm.selectedProject._id }}" class="project-link">
                    {{ vm.selectedProject.number }} {{ vm.selectedProject.name }}
                </a>
                <a href="#/projects/configurations/{{ vm.selectedProject._id }}" style="padding:0"><img src="images/parameter_32.png" height="32" width="32" style="margin-top:0"></a>
                <a href="#/projects/healthreport/{{ vm.selectedProject._id }}" style="padding:0"><img src="images/health_32.png" height="32" width="32" style="margin-top:0"></a>
                <a href="#/projects/sheets/{{ vm.selectedProject._id }}" style="padding:0"><img src="images/sheets_32.png" height="32" width="32" style="margin-top:0"></a>
                <a href="#/projects/vr/{{ vm.selectedProject._id }}" style="padding:0"><img src="images/vr_32.png" height="32" width="32" style="margin-top:0"></a>
            </h1>
        </div>
    </div>
    <div class="row" ng-show="vm.trimbleProject">
        <div class="row row-offcanvas row-offcanvas-left">
            <!--Left side images-->
            <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
                <div bs-affix data-offset-top="200" data-offset-bottom="100">
                    <div class="body-collapse">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title" style="padding-top: 5px;">Upload Images:</h4>
                            </div>
                            <div class="panel-collapse">
                                <!--Dropzone-->
                                <div class="panel-body">
                                    <div class="dropzone" drop-zone ng-model="vm.images">
                                        <p>Drop files here
                                            <span>(or click to upload)</span>
                                        </p>
                                    </div>
                                </div>
                                <!--Add Buckets-->
                                <div class="panel-body" style="padding-top: 0px">
                                    <button class="btn btn-primary"
                                            style="width: 100%"
                                            ng-click="vm.addBucket()">
                                        Add Bucket
                                        <span class="glyphicon glyphicon-plus"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Uploaded images-->
                    <div class="body-collapse">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title" style="padding-top: 5px;">Images:</h4>
                            </div>
                            <div class="panel-collapse"
                                 id="#images"
                                 dragula='"image_bag"'
                                 dragula-model="vm.images"
                                 style="max-height: 500px; overflow-y: scroll">
                                <div class="panel-body"
                                     ng-repeat="file in vm.images"
                                     ng-if="file.type.indexOf('image') !== -1">
                                    <div>
                                        <div class="dark-background text-center">
                                            <span class='handle glyphicon glyphicon-move'></span>
                                        </div>
                                        <div id="{{vm.removeExt(file.name) + '_hover'}}" on-image-loaded>
                                            <img id="{{vm.removeExt(file.name)}}" data-ng-src="{{file.data}}" src="images/rolling_1s_200px.gif" class="img-responsive center-block" alt="" image-loaded>
                                            <div id="{{vm.removeExt(file.name) + '_show'}}" class="overlay none" on-image-loaded>
                                                <p>
                                                    <span class="glyphicon glyphicon-pencil"
                                                          ng-click="vm.editImage('lg', file)"
                                                          style="font-size:1.5em; color: #FFFFFF;">
                                                    </span>
                                                </p>
                                                <p>
                                                    <span class="glyphicon glyphicon-trash"
                                                          ng-click="vm.deleteFromImages(file)"
                                                          style="font-size:1.5em; color: #FFFFFF;">
                                                    </span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Right side-->
            <div class="col-xs-6 col-sm-9">
                <div class="panel panel-default container-fluid" ng-repeat="bucket in vm.buckets | orderBy : 'position'">
                    <div class="panel-heading row">
                        <div class="col-xs-8 no-padding-left">
                            <div class="input-group" ng-if="bucket.editingBucket">
                                <input type="text" class="form-control input-sm" value="bucket.name" ng-model="bucket.name" ng-keypress="vm.onEnter(bucket, $event)">
                                <span class="input-group-btn">
                                    <button class="btn btn-default btn-sm" type="button">
                                        <span class="glyphicon glyphicon-ok" ng-click="vm.changeBucketName(bucket)"></span>
                                    </button>
                                </span>
                            </div>
                            <h4 class="panel-title" style="padding-top: 5px;" ng-click="bucket.editingBucket = true" ng-if="!bucket.editingBucket">{{bucket.name}}</h4>
                        </div>
                        <div class="col-xs-4 no-padding-right">
                            <div class="btn-group btn-group-xs pull-right" role="group" aria-hidden="true">
                                <button type="button" class="btn btn-primary" ng-click="vm.shiftPosition(bucket, vm.buckets, 'bucket', -1)" ng-if="vm.showUpArrow($index)">
                                    <span class="glyphicon glyphicon-chevron-up" style="margin-right: 0"></span>
                                </button>
                                <button type="button" class="btn btn-primary" ng-click="vm.shiftPosition(bucket, vm.buckets, 'bucket', 1)" ng-if="vm.showDownArrow($index)">
                                    <span class="glyphicon glyphicon-chevron-down" style="margin-right: 0px"></span>
                                </button>
                                <button type="button" class="btn btn-primary" ng-click="vm.deleteBucket(bucket)">
                                    <span class="glyphicon glyphicon-trash" style="margin-right: 0px"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body row" style="max-height: 350px; overflow-y: scroll; min-height: 98px; padding-bottom: 0;">
                        <div ng-class="bucket.images.length === 0 ? 'dragzone' : ''"
                             id="#bucket"
                             dragula='"image_bag"'
                             dragula-model="bucket.images"
                             style="min-height: 98px; padding-bottom: 0;">
                            <p ng-show="bucket.images.length === 0">Drag files here
                                <span>(from Images on the left)</span>
                            </p>
                            <div class="panel-body row"
                                 style="padding-top: 0"
                                 ng-repeat="file in bucket.images | orderBy: 'position'"
                                 id="{{file._id}}">
                                <div class="col-md-4 no-padding-left">
                                    <div class="panel-collapse">
                                        <div>
                                            <!-- (Konrad) We are using ng-src here because DOM would attempt to load that image
                                            src before it even exists. So we specify src to be spinner. That gets loaded while ng-src
                                             is still getting pulled from Trimble Connect.-->
                                            <img data-ng-src="{{vm.getParentProperty(file, 'data')}}" src="images/rolling_1s_200px.gif" class="img-responsive center-block" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-8">
                                    <div class="row">
                                        <div class="col-xs-8 no-padding-left">
                                            <h2 style="margin: 0">{{vm.getParentProperty(file, 'displayName')}}</h2>
                                        </div>
                                        <div class="col-xs-4 no-padding-right">
                                            <div class="btn-group btn-group-xs pull-right" role="group" aria-hidden="true">
                                                <button type="button" class="btn btn-primary" ng-click="vm.shiftPosition(file, bucket.images, 'image', -1)" ng-if="vm.showUpArrow($index)">
                                                    <span class="glyphicon glyphicon-chevron-up" style="margin-right: 0"></span>
                                                </button>
                                                <button type="button" class="btn btn-primary" ng-click="vm.shiftPosition(file, bucket.images, 'image', 1)" ng-if="vm.showDownArrow($index)">
                                                    <span class="glyphicon glyphicon-chevron-down" style="margin-right: 0"></span>
                                                </button>
                                                <button type="button" class="btn btn-primary" ng-click="vm.deleteFromBucket(file, bucket)">
                                                    <span class="glyphicon glyphicon-trash" style="margin-right: 0"></span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <hr style="margin: 5px">
                                        <h4>{{vm.getParentProperty(file, 'description')}}</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body row">
                        <div class="panel-collapse">
                            <!-- Sharable id -->
                            <div class="col-md-10 no-padding">
                                <label for="sharableLink" class="form-control-label">Sharable Id:</label>
                                <div class="input-group">
                                    <input type="text" class="form-control input-sm" id="sharableLink" value="bucket.sharableLink" ng-model="bucket.sharableLink" disabled>
                                    <span class="input-group-btn">
                                        <button class="btn btn-default btn-sm" type="button" ng-click="vm.createShare(bucket)">
                                            <span class="fa fa-clone"></span>
                                        </button>
                                    </span>
                                </div>
                            </div>
                            <!-- Recipients -->
                            <div class="col-md-2">
                                <label class="form-control-label">Settings:</label>
                                <div class="input-group">
                                    <button class="btn btn-default btn-sm" type="button" ng-click="vm.manageShare(bucket, 'lg')" ng-disabled="bucket.images.length <= 0">
                                        Share Setting
                                        <span class="fa fa-sliders"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- This empty div helps keep the affixed images div from glitching -->
                <div class="container-fluid" ng-if="vm.buckets.length < 4" ng-style="{'min-height': (800 - (vm.buckets.length * 200)) + 'px'}"></div>
            </div>
        </div>
    </div>
</div>