<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title pull-left">Add to Configuration</h5>
        <button type="button" class="close pull-right" ng-click="vm.cancel()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title" style="padding-top: 5px;">File Path Info</h4>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <!--Number-->
                    <div class="col-md-4 no-padding">
                        <div class="form-group">
                            <label for="number" class="form-control-label">Project Number:</label>
                            <input id="number" type="text" class="form-control" value="vm.filePath.projectNumber" ng-model="vm.filePath.projectNumber" disabled>
                        </div>
                    </div>
                    <!--Name-->
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="name" class="form-control-label">Project Name:</label>
                            <input id="name" type="text" class="form-control" value="vm.filePath.projectName" ng-model="vm.filePath.projectName" disabled>
                        </div>
                    </div>
                    <!--Office-->
                    <div class="col-md-4 no-padding">
                        <div class="form-group">
                            <label for="office" class="form-control-label">Office:</label>
                            <input id="office" type="text" class="form-control" value="vm.filePath.fileLocation" ng-model="vm.filePath.fileLocation" disabled>
                        </div>
                    </div>
                    <!--Central Path-->
                    <div class="col-md-12 no-padding">
                        <div class="form-group">
                            <label for="centralPath" class="form-control-label">Central Path:</label>
                            <input id="centralPath" type="text" class="form-control" value="vm.filePath.centralPath" ng-model="vm.filePath.centralPath" disabled>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title" style="padding-top: 5px;">Select Project</h4>
            </div>
            <div class="panel-body no-padding">
                <div class="panel-collapse">
                    <div class="panel-body">
                        <table id="datatable"
                               datatable=""
                               dt-options="vm.dtOptions"
                               dt-columns="vm.dtColumns"
                               dt-instance="vm.dtInstance"
                               class="table table-hover table-condensed datatable"
                               style="width:100%;">
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title" style="padding-top: 5px;">Select Configuration</h4>
            </div>
            <div class="panel-body">

            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" ng-click="vm.cancel()">Close</button>
    </div>
</div>