<div class="col-md-3 no-padding">
    <d3-circle data="vm.data" class="cn"></d3-circle>
</div>
<div ng-class="vm.descriptionClass">
    <div class="small">
        <h4 style="margin: 0; padding-bottom: 5px">
            {{vm.title}}
            <a href="">
                <i class="fa fa-caret-right text-primary" ng-click="vm.toggleDetails()" ng-if="!vm.showDetails"></i>
                <i class="fa fa-caret-down text-primary" ng-click="vm.toggleDetails()" ng-if="vm.showDetails"></i>
            </a>
        </h4>
        <p>
            {{vm.description}}
        </p>
    </div>
</div>
<div class="col-md-4 no-padding" ng-show="vm.showDetails">
    <div ng-attr-id="{{vm.name + '-' + 'menu'}}">
        <div class="panel list-group">
            <div ng-repeat="bullet in vm.bullets">
                <a href="" class="list-group-item" data-toggle="collapse" ng-attr-data-target="{{'#' + vm.name + '-' + vm.title + '-' + $index}}" ng-attr-data-parent="{{'#' + vm.name + '-' + 'menu'}}">
                    {{bullet.title}}
                    <span ng-class="bullet.bulletColor">{{bullet.bulletText}}</span>
                </a>
                <div ng-attr-id="{{vm.name + '-' + vm.title + '-' + $index}}" class="sublinks collapse">
                    <div class="list-group-item small">
                        {{bullet.description}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>