<div class="container">
    <div class="row">
        <div class="page-header">
            <h1>Settings</h1>
        </div>
    </div>
    <div class="row">
        <form name="form"
              class="css-form"
              novalidate>
            <div class="panel panel-default"
                 style="margin-top:10px;">
                <div class="panel-heading">
                    <h3 class="panel-title">Project Info</h3>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal">
                        <fieldset class="form-group">
                            <label class="control-label col-sm-3 text-right"
                                   style="margin-top: 8px;"
                                   for="officeName">
                                Office Locations
                                <button class="fa-wrapper"
                                        ng-if="vm.settings.offices.length > 0">
                                    <i class="fas fa-check fa-sm"
                                       style="color: green;"></i>
                                </button>
                                <button class="fa-wrapper"
                                        ng-if="!vm.settings.offices.length > 0">
                                    <i class="fas fa-asterisk fa-sm"
                                       style="color: red;"></i>
                                </button>
                            </label>
                            <div class="col-sm-9 no-padding-right">
                                <div class="col-md-3 no-padding-left">
                                    <input id="officeName"
                                           type="text"
                                           placeholder="Add Office Location..."
                                           class="form-control input-sm"
                                           ng-model="vm.office.name"
                                           ng-keypress="vm.onEnter($event, vm.settings.offices, 'Office')">
                                </div>
                                <div class="col-md-3 no-padding-left">
                                    <div class="input-group">
                                        <input id="officeCode"
                                               type="text"
                                               placeholder="Add Office Code..."
                                               class="form-control input-sm"
                                               ng-model="vm.office.code"
                                               ng-keypress="vm.onEnter($event, vm.settings.offices, 'Office')">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default btn-sm"
                                                    type="button"
                                                    ng-click="vm.addValue(vm.settings.offices, 'Office')">
                                                <i class="fas fa-plus"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-6 no-padding">
                                    <span ng-repeat="office in vm.settings.offices track by $index"
                                          ng-if="office.name != 'All'"
                                          class="btn btn-default btn-sm"
                                          style="margin-left: 1px; margin-right: 1px; margin-bottom: 2px;"
                                          ng-click="vm.Remove(vm.settings.offices, $index)">
                                        {{office.name}} - [{{office.code.join(",")}}]
                                    </span>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class="form-group">
                            <label class="control-label col-sm-3 text-right"
                                   style="margin-top: 8px;"
                                   for="stateName">
                                States
                                <button class="fa-wrapper"
                                        ng-if="vm.settings.states.length > 0">
                                    <i class="fas fa-check fa-sm"
                                       style="color: green;"></i>
                                </button>
                                <button class="fa-wrapper"
                                        ng-if="!vm.settings.states.length > 0">
                                    <i class="fas fa-asterisk fa-sm"
                                       style="color: red;"></i>
                                </button>
                            </label>
                            <div class="col-sm-9 no-padding-right">
                                <div class="col-md-6 no-padding-left">
                                    <div class="input-group">
                                        <input id="stateName"
                                               type="text"
                                               placeholder="Add State..."
                                               class="form-control input-sm"
                                               ng-model="vm.state"
                                               ng-keypress="vm.onEnter($event, vm.settings.states, 'State')">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default btn-sm"
                                                    type="button"
                                                    ng-click="vm.addValue(vm.settings.states, 'State')">
                                                <i class="fas fa-plus"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-6 no-padding">
                                    <span ng-repeat="state in vm.settings.states track by $index"
                                          class="btn btn-default btn-sm"
                                          style="margin-left: 1px; margin-right: 1px; margin-bottom: 2px;"
                                          ng-click="vm.Remove(vm.settings.states, $index)">
                                        {{state}}
                                    </span>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class="form-group">
                            <label class="control-label col-sm-3 text-right"
                                   style="margin-top: 8px;"
                                   for="localPath">
                                Local File Path Regex
                                <button class="fa-wrapper"
                                        ng-if="vm.settings.localPathRgx.length > 0">
                                    <i class="fas fa-check fa-sm"
                                       style="color: green;"></i>
                                </button>
                                <button class="fa-wrapper"
                                        ng-if="!vm.settings.localPathRgx.length > 0">
                                    <i class="fas fa-asterisk fa-sm"
                                       style="color: red;"></i>
                                </button>
                            </label>
                            <div class="col-sm-9 no-padding-right">
                                <div class="col-md-6 no-padding-left">
                                    <div class="input-group">
                                        <input id="localPath"
                                               type="text"
                                               placeholder="Add Local File Path Regex..."
                                               class="form-control input-sm"
                                               ng-model="vm.localFilePath"
                                               ng-keypress="vm.onEnter($event, vm.settings.localPathRgx, 'LocalFilePath')">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default btn-sm"
                                                    type="button"
                                                    ng-click="vm.addValue(vm.settings.localPathRgx, 'LocalFilePath')">
                                                <i class="fas fa-plus"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-6 no-padding">
                                    <span ng-repeat="path in vm.settings.localPathRgx track by $index"
                                          class="btn btn-default btn-sm"
                                          style="margin-left: 1px; margin-right: 1px; margin-bottom: 2px;"
                                          ng-click="vm.Remove(vm.settings.localPathRgx, $index)">
                                        {{path}}
                                    </span>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class="form-group">
                            <label class="control-label col-sm-3 text-right"
                                   style="margin-top: 8px;"
                                   for="userLocation">
                                User Office Location Source
                                <button class="fa-wrapper"
                                        ng-if="vm.isValidRegex(vm.settings.userLocation.pattern)">
                                    <i class="fas fa-check fa-sm"
                                       style="color: green;"></i>
                                </button>
                                <button class="fa-wrapper"
                                        ng-if="!vm.isValidRegex(vm.settings.userLocation.pattern)">
                                    <i class="fas fa-asterisk fa-sm"
                                       style="color: red;"></i>
                                </button>
                            </label>
                            <div class="col-sm-9 no-padding-right">
                                <div class="col-md-6 no-padding-left">
                                    <div class="btn-group"
                                         style="width:100%;">
                                        <button class="btn btn-default btn-sm dropdown-toggle scrollable-menu-left"
                                                data-toggle="dropdown">
                                            {{vm.settings.userLocation.source}}
                                            <span class="caret pull-right"
                                                  style="margin-top: 6px; margin-bottom: 6px;"></span>
                                        </button>
                                        <ul class="dropdown-menu scrollable-menu-left">
                                            <li ng-repeat="o in vm.userLocationsOptions">
                                                <a href=""
                                                   ng-click="vm.setLocationSource(o)"
                                                   class="no-padding-left no-padding-right">
                                                    {{o}}
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-6 no-padding">
                                    <div class="col-md-6 no-padding-left">
                                        <input id="officeLocationPattern"
                                               type="text"
                                               placeholder="Add Office Location Regex..."
                                               class="form-control input-sm"
                                               ng-model="vm.settings.userLocation.pattern">
                                    </div>
                                    <div class="col-md-3 no-padding-left">
                                        <input id="officeLocationMatch"
                                               type="number"
                                               placeholder="Pattern Match Number"
                                               class="form-control input-sm"
                                               ng-model="vm.settings.userLocation.match">
                                    </div>
                                    <div class="col-md-3 no-padding-left">
                                        <input id="officeLocationGroup"
                                               type="number"
                                               placeholder="Pattern Group Number"
                                               class="form-control input-sm"
                                               ng-model="vm.settings.userLocation.group">
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <form name="form"
              class="css-form"
              novalidate>
            <div class="panel panel-default"
                 style="margin-top:10px;">
                <div class="panel-heading">
                    <h3 class="panel-title">File Path Info</h3>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal">
                        <fieldset class="form-group"
                                  ng-repeat="(key, value) in vm.settings.projectInfo"
                                  ng-if="key != 'source'">
                            <label class="col-sm-3 control-label text-right"
                                   style="margin-top: 8px;"
                                   for="userLocation">
                                {{vm.processPropertyName(key)}} Source
                                <button class="fa-wrapper"
                                        ng-if="vm.settings.projectInfo">
                                    <i class="fas fa-check fa-sm"
                                       style="color: green;"></i>
                                </button>
                                <button class="fa-wrapper"
                                        ng-if="!vm.settings.projectInfo">
                                    <i class="fas fa-asterisk fa-sm"
                                       style="color: red;"></i>
                                </button>
                            </label>
                            <div class="col-sm-9 no-padding-right">
                                <div class="col-md-6 no-padding-left">
                                    <div class="btn-group"
                                         style="width:100%;">
                                        <button class="btn btn-default btn-sm dropdown-toggle scrollable-menu-left"
                                                data-toggle="dropdown">
                                            {{vm.settings.projectInfo.source}}
                                            <span class="caret pull-right"
                                                  style="margin-top: 6px; margin-bottom: 6px;"></span>
                                        </button>
                                        <ul class="dropdown-menu scrollable-menu-left">
                                            <li ng-repeat="o in vm.projectInfoSources">
                                                <a href=""
                                                   ng-click="vm.setProjectInfoSource(o, 'Location')"
                                                   class="no-padding-left no-padding-right">
                                                    {{o}}
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12"
                                 style="margin-top: 10px;"
                                 ng-repeat="(key1, value1) in value">
                                <div class="col-sm-3"></div>
                                <div class="col-sm-9 no-padding-right">
                                    <div class="col-md-3 no-padding-left">
                                        <label class="control-label text-right pull-right"
                                               style="margin-top: 8px;"
                                               for="userLocation">
                                            {{vm.processPropertyName(key1)}}
                                            <button class="fa-wrapper"
                                                    ng-if="vm.isValidRegex(value1.pattern)">
                                                <i class="fas fa-check fa-sm"
                                                   style="color: green;"></i>
                                            </button>
                                            <button class="fa-wrapper"
                                                    ng-if="!vm.isValidRegex(value1.pattern)">
                                                <i class="fas fa-asterisk fa-sm"
                                                   style="color: red;"></i>
                                            </button>
                                        </label>
                                    </div>
                                    <div class="col-md-9 no-padding">
                                        <div class="col-md-6 no-padding-left">
                                            <input id="infoLocationPattern"
                                                   type="text"
                                                   placeholder="{{vm.processPropertyName(key)}} Regex"
                                                   class="form-control input-sm"
                                                   ng-model="value1.pattern">
                                        </div>
                                        <div class="col-md-3 no-padding-left">
                                            <input id="infoLocationMatch"
                                                   type="number"
                                                   placeholder="Pattern 'Match' Number"
                                                   class="form-control input-sm"
                                                   ng-model="value1.match">
                                        </div>
                                        <div class="col-md-3 no-padding-left">
                                            <input id="infoLocationGroup"
                                                   type="number"
                                                   placeholder="Pattern 'Group' Number"
                                                   class="form-control input-sm"
                                                   ng-model="value1.group">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </form>
        <button id="submitButton"
                type="submit"
                class="btn btn-primary pull-right"
                ng-click="vm.update()"
                style="margin:5px;"
                ng-disabled="vm.verifyForm()">
            <i class="fas fa-check"></i>
            Update
        </button>
        <button class="btn btn-secondary pull-right"
                type="button"
                ng-click="vm.cancel()"
                style="margin:5px;">
            Cancel
        </button>
    </div>
</div>